section {
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.52);
    color: white;
    padding:0;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 100px;
    color: grey;    
}

header {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

footer{
    margin-top:100px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

footer img {
    height: 20px;
    width: 20px;
}